@font-face {
    font-family:'Cartoon_Script';
    src: url('fonts/Cartoon Script.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*** HEADER ***/
/**************/
.header {
	display:block;
	width: 100%;
	border-bottom: 1px solid #DFDFDF;
	position: fixed;
}
.header h1 {
	color: #1BA39C; 
	font-family: Cartoon_Script;
}

/*** WRAPPER ***/
/***************/
.wrapper {
	display: block;
	border:1px solid #DFDFDF;
	position: relative;
	top:140px;
	height:80%;
	width: 80%;
	padding:10px;
	margin: auto;
}

/*** CODE POST ***/
/*****************/
.code_post {
	display: block;
	border:5px solid #DFDFDF;
	background: #34495E;
	position: relative;
	width: 70%;
	margin:5px;
	margin: auto;	
}
.code_post pre {
    display: block;
	font-family: Cartoon_Script;
	color:#F9BF3B;
    white-space: pre;
    margin: 1em 0;
    position: relative;	
} 