
/******** Nursing Coucil Mockup *********/
/****************************************/
/**
.nursing_wrapper {
  background: url("../img/nursing_council_mockup.png");
  background-size: cover;
}

.about {
    text-decoration: none;
    right: 0;
    font-size: 10px;
    color: #000;
    top: -5px;
    position: fixed;
}
**/

.container_menu {
    width: 100%;
    top: 0;
    position: absolute;
}
.toggleMenu {
    display:  none;
    background: #666;
    padding: 10px 15px;
    color: #fff;
}
.nav_nursing {
    display: block;
    list-style: none;
    margin:0;
     *zoom: 1;
    background:#3A539B;
    box-shadow: 0px 1px 50px #000;     
}
.nav_nursing:before,
.nav_nursing:after {
    content: " "; 
    display: table; 
}
.nav_nursing:after {
    clear: both;
}
.nav_nursing ul {
    list-style: none;
    width: 9em;
}
.nav_nursing a {
    padding: 10px 15px;
    color:#fff;
}
.nav_nursing li {
    position: relative;  
}
.nav_nursing > li {
    float: left;
    border-top: 1px solid #104336;
}

.nav_nursing > li > a {
    display: block;
    text-decoration: none;
}

.nav_nursing > li > a:hover {
    background: rgba(255,255,255,0.5);
}

.nav_nursing li  ul {
    position: absolute;
    left: -9999px;
}
.nav_nursing > li.hover > ul {
    left: 0;
}
.nav_nursing li li.hover ul {
    left: 100%;
    top: 0;
}
.nav_nursing li li a {
    display: block;
    background: #1F3A93;
    position: relative;
    z-index:100;
    border-top: 1px solid #175e4c;
}
.nav_nursing li li li a {
    background:#249578;
    z-index:200;
    border-top: 1px solid #1d7a62;
}

@media screen and (max-width: 768px) {
    .active {
        display: block;
    }
    .nav_nursing > li {
        float: none;
    }
    .nav_nursing > li > .parent {
        background-position: 95% 50%;
    }
    .nav_nursing li li .parent {
        background-image: url("images/downArrow.png");
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }
    .nav_nursing ul {
        display: block;
        width: 100%;
    }
   .nav_nursing > li.hover > ul , .nav_nursing li li.hover ul {
        position: static;
    }

}


/********************
 Gallary Container
********************/
.gallary_container {
    display: block;
    width: 500px;
    position: relative;
    margin: 0 auto;
    z-index: -1;
    top: 50px;
    border: 1px solid #ECF0F1; 
}

/********************
 Sub Menu Left
********************/
.sub_menu {
    display: block;
    float: left;
    width: 225px;
    height: 100%;
    background: #3A539B;
    position: absolute;
    z-index: -1;
    border-right: 2px solid grey;
}
.sub_menu img {
    position: relative;
    top: 75px;
    left: 40px;
}
.sub_menu p, hr {
    top:20%;
    position: relative;
}

.sub_menu hr {
    border-bottom: #000;
}

/********************
 Sub Menu Right_0
********************/
.sub_menu_right {
    display: block;
    right: 0;
    top: 0;
    width: 250px;
    height: 70%;
    position: absolute;
    z-index: -1;
}

.sub_menu_right h2 {
   top:10%;
   position: relative;
}

.sub_menu_right p {
    top:15%;
    position: relative;
}

/********************
 Sub Menu Left_1
********************/
.section1_nav {
    display: block;
    width: 100%;
    height: 30px;
    background: rgba(218, 223, 225, 0.4);
    z-index: 1;
}

.section1_nav h3 {
    color:#ABB7B7;
    z-index: 1;
    padding: 2px;
}

.sub_menu_1 {
    display: block;
    float: left;
    width: 225px;
    height: 100%;
    position: absolute;
    z-index: -1;
    border-right: 1px solid #ECF0F1;
}

.sub_menu_1 h2 {
    top:5%;
    position: relative;
}

.sub_menu_1 ul {
    top: 10%;
    position: relative;
}

.typeform-layout {
    position: relative;
    margin: 0 auto;
    top: -20px;
    left: 100px;
    z-index: -1;
}

/********************
 FOOTER
********************/
#footer {
    display: block;
    width: 100%;
    height: 60px;
    background: grey;
    margin-bottom: 0;
    position:relative;
}