@import 'https://fonts.googleapis.com/css?family=Roboto:300';

body {
    font-family: 'Roboto', sans-serif;
    padding:0;
    margin: 0;
}

.wrapper h3 {
    margin: 0 auto;
    top:100px;
    position: relative;
}
.wrapper p {
    top:110px !important;
    padding-left: 250px;
    padding-right: 250px;
    position: relative;
}
.table_wrapper {
    top: 200px !important;
    margin: 0 auto;
    position: relative;
}
.wrapper table, td, th { 
    width: 50%; 
    color: #BDC3C7;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #BDC3C7;    
}
.wrapper table {
    border-collapse: collapse;
}
.wrapper th {
    height: 50px;
}
.wrapper ul {
    top:90px !important;
    margin: 0;
    padding: 0;
    float: right;
    right:5px;       
    position: relative;
}
.wrapper li {
    float: left;
    list-style-image: url('../images/not_next.png');    
    margin-left: 40px;               
}
.wrapper li:last-child {
    list-style-image: url('../images/next.png');
}
.wrapper li > a {
    text-decoration: none;
}
.container_menu {
    width: 100%;
    top: 0;
    position: absolute;
}
.toggleMenu {
    display:  none;
    background: #666;
    padding: 10px 15px;
    color: #fff;
}
.nav_nursing {
    list-style: none;
    height: 50px;
    margin: 0;
    background: #3A539B;
    border-top: 20px solid #BDC3C7;
    box-shadow: 0px 1px 0px #ECF0F1;
}
.nav_nursing p {
    margin-top: -18px;
    margin-right: 20px;
    font-size: 11px;
    padding: 2px;
    color:#F64747;
    font-weight: 700;
}
.nav_nursing:before,
.nav_nursing:after {
    content: " "; 
    display: table; 
}
.nav_nursing:after {
    clear: both;
}
.nav_nursing ul {
    list-style: none;
    width: 9em;
}
.nav_nursing a {
    padding: 10px 15px;
    color:#fff;
}
.nav_nursing li {
    position: relative;  
}
.nav_nursing > li {
    float: left;
}

.nav_nursing > li > a {
    display: block;
    text-decoration: none;
}

.nav_nursing > li > a:hover {
    background: rgba(255,255,255,0.5);
    color:#000;
    margin: 0;    
}

.nav_nursing li  ul {
    position: absolute;
    left: -9999px;
}
.nav_nursing > li.hover > ul {
    left: 0;
}
.nav_nursing li li.hover ul {
    left: 100%;
    top: 0;
}
.nav_nursing li li a {
    display: block;
    background: #3A539B;
    position: relative;
    text-decoration: none;
    z-index:100;
}

.nav_nursing li li a:hover {
    background: rgba(255,255,255,0.5);
    color:#000;
}

.nav_nursing li li li a {
    background:#249578;
    z-index:200;
}

@media screen and (max-width: 768px) {
    .active {
        display: block;
    }
    .nav_nursing > li {
        float: none;
    }
    .nav_nursing > li > .parent {
        background-position: 95% 50%;
    }
    .nav_nursing li li .parent {
        background-image: url("images/downArrow.png");
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }
    .nav_nursing ul {
        display: block;
        width: 100%;
    }
   .nav_nursing > li.hover > ul , .nav_nursing li li.hover ul {
        position: static;
    }

}


/********************
 Gallary Container
********************/
.gallary_container {
    display: block;
    width: 500px;
    position: relative;
    margin: 0 auto;
    z-index: -1;
    top: 80px;
    border: 1px solid #ECF0F1; 
}

.gallary_container p {
    color: #6C7A89;
}

/********************
 Sub Menu Left
********************/
.sub_menu {
    display: block;
    float: left;
    width: 225px;
    height: 100%;
    background: #3A539B;
    position: absolute;
    z-index: -1;
    border-right: 2px solid grey;
}

.sub_menu img {
    position: relative;
    top: 90px;
    left: 40px;
}
.sub_menu p, hr {
    top:20%;
    position: relative;
}

.sub_menu hr {
    border-bottom: #000;
}

/********************
 Sub Menu Right_0
********************/
.sub_menu_right {
    display: block;
    right: 0;
    top: 0;
    width: 250px;
    height: 70%;
    position: absolute;
    z-index: -1;
}

.sub_menu_right h2 {
   top:21%;
   position: relative;
}

.sub_menu_right p {
    top:15%;
    position: relative;
    color: #6C7A89;
}


/********************
 Sub Menu Left_1
********************/
.section1_nav {
    display: block;
    width: 100%;
    height: 50px;
/*    background: rgba(218, 223, 225, 0.4); */
    background: #3A539B;    
    z-index: 800;
}

.section1_nav h3 {
    color:#fff;
    z-index: 1;
    font-family: 'Roboto', sans-serif;    
    font-size: 15px;
    padding: 10px;
}

.sub_menu_1 {
    display: block;
    float: left;
    width: 225px;
    height: 100%;
    position: absolute;
    z-index: -1;
    border-right: 1px solid #ECF0F1;
}

.sub_menu_1 h2 {
    top:5%;
    position: relative;
}

.sub_menu_1 ul {
    top: 10%;
    position: relative;
}

.sub_menu_1 ul a {
/*    text-decoration: none;*/
/*    font-size: 10px;*/
    color: blue;
    list-style-image: url('../images/pdf_icon.png');  
}

.typeform-layout {
    margin: 0 auto;
    margin-left: 300px;
    margin-top: 20px;
}

#section2 h3 {
    top:5%;
    position: relative;
}

.announcement_container {
    display: block;
    top:10%;
    padding-bottom: 10px;
    width: 800px;
    height: 200px;
    margin: 0 auto;
    border: 1px solid #ECF0F1;
    border-bottom: 30px solid #ECF0F1; 
    position: relative;
}

.announcement_container p {
    padding: 10px;
    color: #6C7A89;     
}

/********************
 Login_form
********************/
.login_form form {
    display: block;
    bottom:-100px;
    padding: 10px;
    width: 30%;                              
    margin: 0 auto;
    background: #ECF0F1;    
    position: relative;
}
.login_form input, button {
    display: inline-block;
    position: absolute;
}
.login_form input {
    border: none;
}
.login_form button {
    border:none;
    background: #F64747;
    color:#fff;
    width: 45%;
}
.login_form p {
    font-size: 10px;
}
.login_form a {
    color: blue;
}

/********************
 Register_form
********************/
.register_form form {
    display: block;
    bottom: 100px;
    padding: 10px;
    width: 30%;                              
    margin: 0 auto;
    background: #ECF0F1;    
    position: relative;
}
.register_form input, button {
    display: inline-block;
    position: absolute;
}
.register_form input {
    border: none;
}
.register_form button {
    border:none;
    background: #F64747;
    color:#fff;
    width: 45%;
}
.register_form p {
    font-size: 10px;
}
.register_form a {
    color: blue;
}

/********************
 FOOTER
********************/
.footer {
    display: block;
    width: 100%;
    height: 60px;
    color: #95A5A6;
    background: #ECF0F1;
    bottom: 0%;
    position:fixed;
}